<hr>
<div class="container-fluid">
    <div class="col-xs-4 col-xs-offset-4">

        <div data-ng-show="successMsg" class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-ng-click="successMsg = null" aria-hidden="true">&times;</button>
            <strong>{{successMsg}}</strong>
        </div>
        <div data-ng-show="validationErrorMsg" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-ng-click="validationErrorMsg = null" aria-hidden="true">&times;</button>
            <strong>!Error </strong>{{validationErrorMsg}}
        </div>
        <div class="alert alert-danger alert-dismissable" ng-show="internalError">
            <button type="button" class="close" data-ng-click="internalError = null" aria-hidden="true">&times;</button>
            <strong>!Error </strong>{{internalError}}
        </div>

        <form action="#" method="POST" role="form" name="userForm">
            <legend>Password Change</legend>
            <input type="hidden" ng-model="user.id" />
            <input type="hidden" ng-model="user.version"  />
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" ng-model="user.userName" value="{{user.userName}}" ng-readonly="true" class="form-control"  id="userName">
            </div>

            <div class="form-group">
                <label for="">Old password</label>
                <input type="password"  ng-model="user.oldPassword" class="form-control" id="oldPassword">
                <span style="color:red" ng-show="validationError.oldPassword">{{validationError.oldPassword}}</span>
            </div>
            <div class="form-group">
                <label for="">new password</label>
                <input type="password"  ng-model="user.newPassword" class="form-control" id="newPassword">
                <span style="color:red" ng-show="validationError.newPassword">{{validationError.newPassword}}</span>
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password"  ng-model="user.confirmPassword" class="form-control" id="confirmPassword">
                <span style="color:red" ng-show="validationError.confirmPassword">{{validationError.confirmPassword}}</span>
            </div>

            <input ng-show="!finderloader" class="btn btn-primary" ng-click="save()" value="Save"/>
            <div ng-show="finderloader">
                <button class="btn btn-xs btn-warning" style="cursor: wait"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Updating user password....</button>
            </div>
        </form>
    </div>
</div>
<hr>